################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/github-runner-docker/FileContentIndex
/.vs/github-runner-docker/v17
/.vs

# Secrets - never commit
runner.env
*.env
!runner.env.template
*.pem
env/
