################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/github-runner-docker/FileContentIndex
/.vs/github-runner-docker/v17
/.vs
